<a href="{{model.url}}"><h1>{{model.title}}</h1></a>
<p>Submitted by: <strong>{{model.author}}</strong></p>
<img src="{{model.imageUrl}}" />
<p>{{model.description}}</p>

<h4>Add comment:</h4>
<form (ngSubmit)="addComment()" #createPostForm="ngForm">
    <textarea class="form-control" id="content" required 
    name="content"
    [(ngModel)]="newComment.content"
    #title="ngModel"></textarea>
    <div *ngIf="newCommentFail" class="alert alert-danger">
      Invalid input!
    </div>
  <button [disabled]="!createPostForm.form.valid" type="submit" class="btn btn-success">Submit</button>
</form>

<h4>Comments:</h4>
<div class="form-group">
    <div class="panel panel-primary" *ngFor="let comment of comments">
        <div class="panel-heading"><p>Author: <strong>{{comment.author}}</strong></p></div>
        <p class="panel-body">{{comment.content}}</p>
      </div>
</div>
